/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

#section-about {
  padding-top: 4%;
}

h3 {
  text-align: left;
}

.background {
  background-image: url('../images/kine/background.jpg');
  background-size: cover;
}

.lead2 {
  margin-top: 20px;
}

.shadow {
  text-shadow: 0px 0px 25px black;
}
